.phase_id{
    width:300px;
    height:30px;
    border:2px solid #70c745;
    border-radius: 6px;
    text-align: center;
    text-align-last: center;
}

.choose-phase_id-div{
    padding: 50px 10px 70px 10px;
}