<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Admin - Tables</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <!-- Custom fonts for this template -->

  <link href="{{ url_for('static', filename='all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='sb-admin-2.min.css') }}" rel="stylesheet">
  <link rel="icon" href="{{url_for('static', filename='img/core-img/favicon.ico')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='preloader.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='image_hover.css')}}">

  <!-- Custom styles for this page -->
  <link href="{{ url_for('static', filename='dataTables.bootstrap4.min.css') }}" rel="stylesheet">
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body id="page-top">
{% include './includes/_preloader.html' %}
{% block content %}{% endblock %}

<!-- Bootstrap core JavaScript-->
<script src="{{url_for('static', filename='bootstrap.bundle.min.js')}}"></script>

<!-- Core plugin JavaScript-->
<script src="{{url_for('static', filename='jquery.easing.min.js')}}"></script>

<!-- Custom scripts for all pages-->
<script src="{{url_for('static', filename='sb-admin-2.min.js')}}"></script>

<!-- Page level plugins -->
<script src="{{url_for('static', filename='jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='dataTables.bootstrap4.min.js')}}"></script>

<!-- Page level custom scripts -->
<script src="{{url_for('static', filename='datatables-demo.js')}}"></script>
<script src="{{url_for('static', filename='js/active.js')}}"></script>
</body>