<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('index')}}">MyFlaskApp</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Articles</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if g.user %}
              <li><a href="">Dashboard</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
              <li><a href="{{ url_for('register') }}">Register</a></li>
              <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



<!-- ##### Header Area Start ##### -->
  <header class="header-area">

      <!-- ***** Top Header Area ***** -->
      <div class="top-header-area">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="top-header-content d-flex align-items-center justify-content-between">
                          <!-- Top Header Content -->
                          <div class="top-header-meta">
                              <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: infodeercreative@gmail.com</span></a>
                              <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +1 234 122 122</span></a>
                          </div>

                          <!-- Top Header Content -->
                          <div class="top-header-meta d-flex">
                              <!-- Login -->
                              <div class="login">
                                  <a href="{{ url_for('login') }}"><i class="fa fa-user" aria-hidden="true"></i> <span>Login</span></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- ***** Navbar Area ***** -->
      <div class="alazea-main-menu">
          <div class="classy-nav-container breakpoint-off">
              <div class="container">
                  <!-- Menu -->
                  <nav class="classy-navbar justify-content-between" id="alazeaNav">

                      <!-- Nav Brand -->
                      <a href="index.html" class="nav-brand"><img src="{{url_for('static', filename='img/core-img/logo.png')}}" alt=""></a>

                      <!-- Navbar Toggler -->
                      <div class="classy-navbar-toggler">
                          <span class="navbarToggler"><span></span><span></span><span></span></span>
                      </div>

                      <!-- Menu -->
                      <div class="classy-menu">

                          <!-- Close Button -->
                          <div class="classycloseIcon">
                              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                          </div>

                          <!-- Navbar Start -->
                          <div class="classynav">
                              <ul>
                                  <li><a href="{{url_for('index')}}">Home</a></li>
                                  <li><a href="#">About</a></li>
                                  <li><a href="#">Pages</a>
                                      <ul class="dropdown">
                                          <li><a href="{{url_for('index')}}">Home</a></li>
                                          <li><a href="#">About</a></li>
                                          <li><a href="contact.html">Contact</a></li>
                                      </ul>
                                  </li>
                              </ul>

                              <!-- Search Icon -->
                              <div id="searchIcon">
                                  <i class="fa fa-search" aria-hidden="true"></i>
                              </div>

                          </div>
                          <!-- Navbar End -->
                      </div>
                  </nav>

<!--                  &lt;!&ndash; Search Form &ndash;&gt;-->
<!--                  <div class="search-form">-->
<!--                      <form action="#" method="get">-->
<!--                          <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">-->
<!--                          <button type="submit" class="d-none"></button>-->
<!--                      </form>-->
<!--                      &lt;!&ndash; Close Icon &ndash;&gt;-->
<!--                      <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>-->
<!--                  </div>-->
              </div>
          </div>
      </div>
  </header>
<!-- ##### Header Area End ##### -->