<!-- ##### Header Area Start ##### -->
  <header class="header-area">

      <!-- ***** Top Header Area ***** -->
      <div class="top-header-area">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="top-header-content d-flex align-items-center justify-content-between">
                          <!-- Top Header Content -->
                          <div class="top-header-meta">
                              <a href="#" data-toggle="tooltip" ><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: infodeercreative@gmail.com</span></a>
                              <a href="#" data-toggle="tooltip" ><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +1 234 122 122</span></a>
                          </div>

                          <!-- Top Header Content -->
                          <div class="top-header-meta d-flex">
                              <!-- Login -->
                              {% if g.user %}
                              <li class="nav-item dropdown no-arrow">
                                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="fa fa-user" aria-hidden="true"></i>
                                      <span class="mr-2 d-none d-lg-inline text-gray-600">{{g.user.name}}</span>
                                  </a>
                                  <!-- Dropdown - User Information -->
                                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#" style="color: #212529;">
                                      <i class="fa fa-user" aria-hidden="true"></i>
                                      Profile
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ url_for('logout') }}" style="color: #212529;">
                                      <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>
                                      Logout
                                    </a>
                                  </div>
                                </li>
                              {% else %}
                                <div class="login">
                                  <a href="{{ url_for('register') }}"><i class="fa fa-user" aria-hidden="true"></i> <span>Register</span></a>
                                </div>
                                <div class="login">
                                  <a href="{{ url_for('login') }}"><i class="fa fa-user" aria-hidden="true"></i> <span>Login</span></a>
                                </div>
                              {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- ***** Navbar Area ***** -->
      <div class="alazea-main-menu">
          <div class="classy-nav-container breakpoint-off">
              <div class="container">
                  <!-- Menu -->
                  <nav class="classy-navbar justify-content-between" id="alazeaNav">

                      <!-- Nav Brand -->
                      <a href="{{url_for('index')}}" class="nav-brand"><img src="{{url_for('static', filename='img/core-img/logo.png')}}" alt=""></a>

                      <!-- Navbar Toggler -->
                      <div class="classy-navbar-toggler">
                          <span class="navbarToggler"><span></span><span></span><span></span></span>
                      </div>

                      <!-- Menu -->
                      <div class="classy-menu">

                          <!-- Close Button -->
                          <div class="classycloseIcon">
                              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                          </div>

                          <!-- Navbar Start -->
                          <div class="classynav">
                              <ul>
                                  <li><a href="{{url_for('index')}}">Home</a></li>
                                  <li><a href="#">About</a></li>
                                  <li><a href="#">Pages</a>
                                      <ul class="dropdown">
                                          <li><a href="{{url_for('index')}}">Home</a></li>
                                          <li><a href="#">About</a></li>
                                          <li><a href="contact.html">Contact</a></li>
                                      </ul>
                                  </li>
                              </ul>

                              <!-- Search Icon -->
                              <div id="searchIcon">
                                  <i class="fa fa-search" aria-hidden="true"></i>
                              </div>

                          </div>
                          <!-- Navbar End -->
                      </div>
                  </nav>

<!--                  &lt;!&ndash; Search Form &ndash;&gt;-->
<!--                  <div class="search-form">-->
<!--                      <form action="#" method="get">-->
<!--                          <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">-->
<!--                          <button type="submit" class="d-none"></button>-->
<!--                      </form>-->
<!--                      &lt;!&ndash; Close Icon &ndash;&gt;-->
<!--                      <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>-->
<!--                  </div>-->
              </div>
          </div>
      </div>
  </header>
<!-- ##### Header Area End ##### -->