<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome</title>
    {% endif %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='upload-images.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='select_box.css')}}">
    <link rel="icon" href="{{url_for('static', filename='img/core-img/favicon.ico')}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    {% include 'includes/_preloader.html' %}
    {% block content %}{% endblock %}
    {% include 'includes/_footer.html' %}
    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{{url_for('static', filename='js/jquery/jquery-2.2.4.min.js')}}"></script>
    <!-- Popper js -->
    <script src="{{url_for('static', filename='js/bootstrap/popper.min.js')}}"></script>
    <!-- Bootstrap js -->
    <script src="{{url_for('static', filename='js/bootstrap/bootstrap.min.js')}}"></script>
    <!-- All Plugins js -->
    <script src="{{url_for('static', filename='js/plugins/plugins.js')}}"></script>
    <!-- Active js -->
    <script src="{{url_for('static', filename='js/active.js')}}"></script>
  </body>
</html>