{% extends "base.html" %}

{% block content %}
{% with title="Choose Plants" %}
{% include 'includes/_mini_slide.html' %}
{% endwith %}

<div class="container">
<div class="p-5">
<main class="main_full">
    {% for plant in plants %}
        <!-- Single Product Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="200ms">
                        <!-- Product Image -->
                        <div style="text-align: center;">
                            <a href="{{url_for('upload_file', plant_id=plant.id)}}"><img src="{{url_for('static', filename='img/plant-img/'+plant.avatar)}}" alt="" style="width:224px;height:224px;"></a>
                            <div class="service-content" style="padding: 20px;">
                                <a href="{{url_for('upload_file', plant_id=plant.id)}}">
                                    <h2 style="color:#70c745;">{{plant.name}}</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    {% endfor %}
</main>
</div>
</div>

{% endblock %}