{% extends "base.html" %}
{% block content %}
{% with title="Profile" %}
{% include 'includes/_mini_slide.html' %}
{% endwith %}

{% include "/includes/_messages.html" %}
<div class="container">
    <h1 align="center">Profile</h1>
  	<hr>
        {% from "/includes/_formhelpers.html" import render_field %}
        <form class="form-horizontal" role="form" action="" method="post">
            {{ form.hidden_tag() }}
          <div class="form-group">
            <label class="col-md-4 control-label">Username:</label>
            <div class="col-md-6">
                <input type="text" class="form-control" value={{user.username}} style="font-size: 1.5rem;" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Name:</label>
            <div class="col-md-6">
                {{render_field(form.name, type="text", id="name", class="form-control", style="font-size: 1.5rem;", value=user.name, disabled="disabled")}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-6" id="submit-div">
                <input type="reset" id="edit" class="btn btn-primary" value="Edit Profile" style="font-size: 1.5rem;">


            </div>
          </div>
        </form>
      </div>

<hr>

<script>
    $("#edit").click(function(e){
        var name = $("#name").val();
        $("#name").removeAttr("disabled");
        $("#submit-div").append('<button type="submit" id="edit-submit" class="btn btn-primary" value="Save Changes" style="font-size: 1.5rem;">Save Changes</button>');
        $("#submit-div").append('<span id="edit-span"> </span>');
        $("#submit-div").append('<input type="reset" id="edit-cancel" class="btn btn-secondary" value="Cancel" style="font-size: 1.5rem;">');
        $("#submit-div").find('#edit').hide();
        $("#edit-cancel").click(function() {
            $("#name").val(name);
            $("#name").attr('disabled', true);
            $("#submit-div").find('#edit-submit').remove();
            $("#submit-div").find('#edit-span').remove();
            $("#submit-div").find('#edit-cancel').remove();
            $("#submit-div").find('#edit').show();
        });
    });


</script>

{% endblock %}