{% extends "base.html" %}

{% block content %}
{% with title="Process Multiple Images" %}
{% include 'includes/_mini_slide.html' %}
{% endwith %}
<div class="container">
<div class="p-5">
{% include "/includes/_messages.html" %}
{% from "/includes/_formerrors.html" import render_form_errors %}
{{ render_form_errors(upload_form) }}
<main class="main_full">
    <div class="container" id="upload-container">
      <form method="POST" action="{{url_for('upload_zip', plant_id=plant.id)}}" enctype="multipart/form-data" id="form-upload">
          {{upload_form.csrf_token()}}
        <div class="upload-panel">

            <div class="form-group" style="text-align: center;">
                <h1 style="color:#70c745;">Plant: {{plant.name}}</h1>
            </div>
              <div class="choose-phase_id-div">
                  <h3 style="color:#70c745;">Choose Phase: </h3>
                {{upload_form.phase_id(class="phase_id")}}
              </div>

            <div>
                {{upload_form.zip_file(style="margin : 0 auto;")}}
            </div>
        </div>
            <button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto;font-size: 2rem;background-color:#70c745;border-color:#70c745;border-radius: 6px;">Upload</button>
      </form>
    </div>
</main>
</div>
</div>
{% endblock %}